.image-container {
  background-color: var(--secondaryWithOpacity);
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.form-container-profile {
  position: absolute;
  display: flex;
  background-color: var(--secondaryWithOpacity);
  flex-direction: column;
  border: 2px solid var(--detail);
  padding: 2%;
  max-width: 50%;
  margin: auto;
  height: 75%;

  top: 75px;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-text {
  color: var(--primary);
  border: 2px solid var(--detail);
  text-align: center;
  padding: 1%;
}

.inputs-container {
  width: 40%;
}
.inputs-container-for-email {
  width: 100%;
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  border-top: 2px solid var(--primary);
}
.handler-buttons {
  color: var(--primary);
  background-color: var(--secondary);
  border: 2px solid var(--detail);
  height: 40px;
  font-size: 24px;
  font-style: italic;
  transition: 0.4s ease-in-out;
  margin-top: 10%;
  cursor: pointer;
}

.image-cropper {
  width: auto;
  height: 30vh;
  margin: auto;
}

.profile-container {
  position: relative;
  margin: auto;
}

.image-center {
  position: relative;
  margin: auto;
}

.profile-container > .image-center > img {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--detail);
  width: 160px;
  height: 160px;
}

.button-for-image {
  position: absolute;
  bottom: 10px;
  right: 0;
  color: var(--primary);
  background-color: var(--secondary);
}

//FORM
.row-container {
  padding-top: 5%;
}
.row {
  display: flex;
  justify-content: space-around;
}

.handler-buttons:hover {
  background-color: var(--detail);
  border-color: var(--primary);
}

.handler-buttons-container {
  display: flex;
  justify-content: space-around;
}

button:disabled,
button[disabled] {
  border: 2px solid var(--detail);
  background-color: var(--secondary);
  color: var(--detail);
  text-decoration: line-through;
  cursor: default;
}
button:disabled,
button[disabled]:hover {
  border: 2px solid var(--detail);
  background-color: var(--secondary);
  color: var(--detail);
  cursor: default;
}

mat-form-field {
  color: var(--primary);
}
:host ::ng-deep .mat-input-element {
  caret-color: var(--primary);
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: var(--primary) !important;
}
::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: var(--primary) !important;
}
::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: var(--detail) !important;
}

@media screen and (max-width: 1600px) {
  .form-container {
    width: 60%;
  }
}
@media screen and (max-width: 900px) {
  .form-container {
    height: 100%;
    width: 90%;
    border: none;
    padding: 5%;
  }
}
