<div class="group-container">
  <div class="group-settings-list mat-elevation-z5">
    <div class="group-content-box">
      <app-group-name></app-group-name>
    </div>
    <div class="group-content-box">
      <app-group-settings></app-group-settings>
    </div>
    <div class="group-content-box">
      <app-group-user-management></app-group-user-management>
    </div>
    <div class="group-content-box">
      <app-group-crucial-settings></app-group-crucial-settings>
    </div>
  </div>
  <div class="receipt-settings-list">
    <div class="receipt-content-box">
      <app-receipt-name></app-receipt-name>
    </div>
    <div class="receipt-content-box">
      <app-receipt-add></app-receipt-add>
    </div>
  </div>
</div>
